{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      { "ssr": true }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@pages": "./pages",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@constants": "./src/constants",
          "@hooks": "./src/hooks",
          "@styled": "./src/styled",
          "@typings": "./src/typings",
          "@utils": "./src/utils",
        }
      }
    ]
  ]
}