# editor
.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
schema.graphql
schema.json
src/typings/generated.ts
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# nextJS
.next